<form [formGroup]="form" #formRef="ngForm">
  <fieldset>
    <legend>Hobbies Component Form</legend>

    <div class="mb-12px">
      <label>Name</label>
      <input type="text" formControlName="name" (blur)="onTouched()" />
      <form-errors [control]="form | getControlFrom: 'name'"></form-errors>
    </div>

    <div class="mb-12px">
      <label></label>
      <custom-native-input
        label="Description"
        formControlName="description"
        (onBlur)="onTouched($event)"
      ></custom-native-input>
      <form-errors
        [control]="form | getControlFrom: 'description'"
      ></form-errors>
    </div>

    <div class="mb-12px">
      <label>Order</label>
      <input type="number" formControlName="order" (blur)="onTouched()" />
      <form-errors [control]="form | getControlFrom: 'order'"></form-errors>
    </div>
  </fieldset>
</form>
