<hr />

<h2>{{ groupName }}</h2>

<form
  nestableForm
  [formGroup]="form"
  [formGroupDirective]="formRef"
  [nestedControlName]="groupName"
  #formRef="ngForm"
>
  <!-- <div [formGroupName]="groupName"> -->
  <div class="mb-12px">
    <label>Street</label>
    <input type="text" formControlName="street" />
  </div>

  <div class="mb-12px">
    <label></label>
    <app-custom-input
      formControlName="city"
      [required]="true"
    ></app-custom-input>
  </div>

  <div class="mb-12px">
    <label>Neighborhood</label>
    <input type="text" formControlName="neighborhood" />
  </div>

  <div class="mb-12px">
    <label>Address Cellphone</label>
    <app-custom-input-2
      controlName="cellphone"
      [required]="true"
    ></app-custom-input-2>
  </div>
</form>
<hr />

<h2>{{ groupName }} submitted: {{ formRef.submitted }}</h2>
