<hr />

<h2>Address </h2>

<form [formGroup]="form">
  <div class="mb-12px">
    <label>Attendant Name</label>
    <input type="text" formControlName="attendantName" />
  </div>
  <div class="mb-12px">
    <label>Attendant Last Name</label>
    <app-custom-input
      formControlName="attendantLastName"
      [required]="true"
    ></app-custom-input>
  </div>
  <div class="mb-12px">
    <label>Attendant Age</label>
    <input type="number" formControlName="attendantAge" />
  </div>
</form>
<hr />
