<form [formGroup]="form" (ngSubmit)="submit()" #formRef="ngForm">
  <fieldset>
    <legend>Personal Form</legend>

    <div>
      <custom-native-input
        label="Name"
        formControlName="name"
        [touchedChangingInput]="true"
      ></custom-native-input>
      <form-errors displayErrorStrategy="TOUCHED" controlName="name"></form-errors>
    </div>

    <div>
      <label>Age:</label>
      <input name="age" formControlName="age" />
      <show-errors [control]="form | getControlFrom: 'age'"></show-errors>
    </div>

    <br />

    <div>
      <h3>Your address</h3>
      <custom-native-form-address
        formControlName="address"
      ></custom-native-form-address>
      <show-errors [control]="form | getControlFrom: 'address'"></show-errors>
    </div>

    <br />

    <div>
      <h3>Your hobbies</h3>
      <button type="button" (click)="addHobbies()">Add hobbies</button>

      <hr />
      <ng-container formArrayName="hobbies">
        <ng-container
          *ngFor="let hobbiesControl of hobbiesFormControls; let i = index"
        >
          <div class="hobbies-form-row">
            <custom-native-form-hobbies
              [formControl]="hobbiesControl"
            ></custom-native-form-hobbies>

            <show-errors [control]="hobbiesControl"></show-errors>

            <button type="button" class="delete-btn" (click)="deleteHobbies(i)">
              Delete hobbies
            </button>
          </div>
        </ng-container>
      </ng-container>
      <hr />

      <show-errors [control]="form | getControlFrom: 'hobbies'"></show-errors>
    </div>

    <br />

    <div>
      <h3>Your attendant</h3>
      <custom-native-form-attendant
        formControlName="attendant"
      ></custom-native-form-attendant>
      <show-errors [control]="form | getControlFrom: 'attendant'"></show-errors>
    </div>

    <br />
    <br />

    <button type="submit">Enviar</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </fieldset>
</form>

<br />
<br />
<br />

----------------------------------------------------

<h1>Extra information</h1>

----------------------------------------------------

<h2>Form submitted: {{ formRef.submitted }}</h2>
<h2>Form isValid: {{ form.valid }}</h2>

<hr />
<h2>Name isValid: {{ form.get("name")?.valid }}</h2>
<h2>Name touched: {{ form.get("name")?.touched }}</h2>
<h2>Name dirty: {{ form.get("name")?.dirty }}</h2>

<hr />
<h2>Address isValid: {{ form.get("address")?.valid }}</h2>
<h2>Address touched: {{ form.get("address")?.touched }}</h2>
<h2>Address dirty: {{ form.get("address")?.dirty }}</h2>
